section.section 
    nav.navbar
        a.navbar-burger
            span
            span
            span
            div.navbar-menu
                .navbar-start
                    for item in navbars
                        a.navbar-item(href=item.href) #{item.content}
                .navbar-end
                    .buttons 
                        button.button.is-light S'enregistrer
                        button.button.is-primary Se connecter
