mixin cover(item, type)
    section.section                
        .box.is-vcentered
            .columns.is-vcentered.is-multiline
                column.is-4 
                    figure.image.is-128x128-desktop 
                        img(src=item.mea)
                //-if type = "lame"  
                //- else 
                .column.is-6
                    span.tag.is-danger.is-medium=item.tag
                    h1.is-3-desktop.title= item.title 
                    h1.has-text-primary.is-3-desktop.title= item.price
                    h2.is-7-desktop.mt-2.subtitle= item.mention
                column.is-4
                    button.button.is-primary=item.cta.txt  